src/main/mule/implementation_flows/Check-Balence-Implementation-Flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="Check-Balence-Implementation-FlowFlow1" doc:id="c382770e-8424-4c92-b50d-a1046c38b08a" >
		<db:update doc:name="Update" doc:id="36241cbf-4fad-43b8-bddc-fd56326310f9" config-ref="Database_Config" >
			<db:sql ><![CDATA[update BHARATHI_DB.BANK_TRANSACTIONS set wrongPin=:wrongPin where custAccNum=:custAccNum]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	wrongPin: 0,
	custAccNum: payload.custAccNum
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="d8ac2ff0-e35e-4e2a-88e6-2b806746c712" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
 " Your total Balence " : vars.userData.totalBalance[0]	
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
